.btn {
background-color: $mainBG1;
font-weight: 900;
font-size: .8rem;
display: inline-block;
border: solid 2px $mainBG2;
border-radius: 5px;
cursor: pointer;
padding: 5px;

&:hover{
background-color: $mainBG5;
border: solid 2px $mainBG2;
}


}

