.container.container--orange
  .contents
    h1 Fullscreen Navigation 1
    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius laborum eligendi velit, quo saepe quidem quaerat commodi consequatur, asperiores tenetur, ex dicta omnis vitae odit totam nemo necessitatibus harum! Eligendi.
  .navTrigger
    i
  nav.nav.nav1
    .nav1__links
      a(href="#").nav1__link 1
      a(href="#").nav1__link 2
      a(href="#").nav1__link 3
      a(href="#").nav1__link 4


.container.container--green
  .contents
    h1 Fullscreen Navigation 2
    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam illo debitis perferendis reiciendis voluptas, temporibus fugiat voluptatibus ullam qui, aperiam explicabo veniam rem tempora! Optio libero voluptatum vero, aspernatur.
  .navTrigger
    i
  nav.nav.nav2
    .nav2__links
      a(href="#").nav2__link 1
      a(href="#").nav2__link 2
      a(href="#").nav2__link 3
      a(href="#").nav2__link 4


.container.container--blue
  .contents
    h1 Fullscreen Navigation 3
    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, doloremque, quibusdam. Quisquam voluptates architecto delectus vitae consectetur, nulla odio quae neque cum, veritatis aperiam maiores dolor officiis.
  .navTrigger
    i
  nav.nav.nav3
    .nav3__links
      a(href="#").nav3__link 1
      a(href="#").nav3__link 2
      a(href="#").nav3__link 3
      a(href="#").nav3__link 4

.container.container--purple
  .contents
    h1 Fullscreen Navigation 4
    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut magni hic suscipit officia autem quae quis aliquid maiores similique assumenda quam, harum asperiores tenetur adipisci sunt. Error sit saepe tempora.
  .navTrigger
    i
  nav.nav.nav4
    .nav4__links
      a(href="#").nav4__link 1
      a(href="#").nav4__link 2
      a(href="#").nav4__link 3
      a(href="#").nav4__link 4